@font-face {
    font-family: 'minecrafter';
    src: url('../fonts/Minecrafter.Reg.ttf');
}

@font-face {
    font-family: 'minecrafter alt';
    src: url('../fonts/Minecrafter.Alt.ttf');
    font-style: normal;
}

@font-face {
    font-family: 'Righteous';
    src: url('../fonts/Righteous-Regular.ttf');
    font-style: normal;
}

@font-face {
    font-family: 'rubik';
    src: url('../fonts/Rubik-VariableFont_wght.ttf');
    font-style: normal;
}

@font-face {
    font-family: 'rubik';
    src: url('../fonts/Rubik-Italic-VariableFont_wght.ttf');
    font-style: italic;
}
