body {
    color: $black;
    position: relative;
    min-height: 100vh;
    background-color: $black;
    // background-image: url('../../public/img/websplash.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    font-family: 'rubik';
}

h1,
h2 {
    font-family: 'Righteous';
}

.page-body {

    .cms-banner {
        margin: 0;
        padding: 0;
        max-height: 35vh;
        overflow: hidden;

        img {
            width: 100%;
        }
    }

    .page-title {
        margin-top: 1rem;
        border-radius: 15px 15px 0 0;
        background: $white;
        padding: 3rem 3rem 1.5rem 3rem;
    }

    .page-content {
        background: $white;
        padding: 3rem;
        border-radius: 0 0 15px 15px;
    }
}
