.navbar.bg-dark {
    background-color: $black !important;
}

.navbar-brand img {
    height: 75px;
}

.nav-item a {
    font-family: 'righteous';
    font-size: 1.5em;
    color: $white;

    &:hover {
        color: $mountain;
    }
}
