#page-content {

    font-family: 'rubik';
    font-size: 14pt;

    h1.title {
        font-family: 'righteous';
        font-size: 48pt;
    }

    h2.subtitle {
        font-family: 'righteous';
        font-size: 32pt;
    }
}
